form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;

    &__search {
        padding: 1rem 2rem;
        font-size: 1.8rem;
        border: 2px solid #ccc;
        border-radius: 5px;
        outline: none;
        width: 500px;
        background-color: #fff;
        transition: all 0.3s ease;

        &:focus {
            border-color: #3498db;
            box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);

        }
    }
}